Repository ekrixi-14/ekrixi, pull requests merged in 2023-11, with the labels that each got.

#183 FSC Hardsuits
  Resources/Prototypes/_FTL/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/_FTL/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccombat.rsi/combat-equipped-HELMET.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccombat.rsi/icon-flash.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccombat.rsi/icon.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccombat.rsi/meta.json
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccombat.rsi/off-equipped-HELMET.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccombat.rsi/off-inhand-left.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccombat.rsi/off-inhand-right.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccombat.rsi/on-equipped-HELMET.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccombat.rsi/on-inhand-left.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccombat.rsi/on-inhand-right.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccommander.rsi/icon-flash.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccommander.rsi/icon.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccommander.rsi/meta.json
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccommander.rsi/off-equipped-HELMET.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccommander.rsi/off-inhand-left.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccommander.rsi/off-inhand-right.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccommander.rsi/on-equipped-HELMET.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccommander.rsi/on-inhand-left.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fsccommander.rsi/on-inhand-right.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fscelite.rsi/icon-flash.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fscelite.rsi/icon.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fscelite.rsi/meta.json
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fscelite.rsi/off-equipped-HELMET.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fscelite.rsi/off-inhand-left.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fscelite.rsi/off-inhand-right.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fscelite.rsi/on-equipped-HELMET.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fscelite.rsi/on-inhand-left.png
  Resources/Textures/_FTL/Clothing/Head/Hardsuits/fscelite.rsi/on-inhand-right.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fsccombat.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fsccombat.rsi/icon.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fsccombat.rsi/inhand-left.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fsccombat.rsi/inhand-right.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fsccombat.rsi/meta.json
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fsccommander.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fsccommander.rsi/icon.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fsccommander.rsi/inhand-left.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fsccommander.rsi/inhand-right.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fsccommander.rsi/meta.json
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fscelite.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fscelite.rsi/icon.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fscelite.rsi/inhand-left.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fscelite.rsi/inhand-right.png
  Resources/Textures/_FTL/Clothing/OuterClothing/Hardsuits/fscelite.rsi/meta.json
Labels: Changes: Sprites, No C#

#184 Patch weapons
  Resources/Prototypes/_FTL/Entities/Objects/Weapons/Guns/Ammunition/boxes.yml
  Resources/Prototypes/_FTL/Entities/Objects/Weapons/Guns/Ammunition/explosive.yml
  Resources/Prototypes/_FTL/Entities/Objects/Weapons/Guns/Projectiles/explosive.yml
Labels: No C#

#187 Cargo techs will now fight back when attacked
  Resources/Prototypes/_FTL/Entities/Mobs/NPCs/trader_station.yml
Labels: No C#

#189 Adds more utilities to the weapon pad
  Content.Client/Shuttles/UI/RadarControl.cs
  Content.Client/_FTL/ShipWeapons/GunnerConsoleWindow.xaml.cs
  Content.Server/_FTL/ShipWeapons/ShipWeaponsSystem.cs
  Resources/Locale/en-US/_ftl/ship-weapons.ftl
Labels: Changes: UI

#193 ACKs Stormwalker-Class Cruiser
  Resources/Maps/_FTL/acks/stormwalker.yml
Labels: No C#

#194 Stormwalker+
  Resources/Maps/_FTL/acks/stormwalker.yml
  Resources/Prototypes/_FTL/Maps/Pools/ftl.yml
  Resources/Prototypes/_FTL/Maps/stormwalker.yml
Labels: No C#

#195 Stormwalker++
  Resources/Maps/_FTL/acks/stormwalker.yml
Labels: No C#

#197 Easy Deconstruction of Armor Plating
  Resources/Prototypes/Recipes/Construction/Graphs/structures/girder.yml
Labels: No C#

#199 Plastitanium Wall Upgrade
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
Labels: No C#

#202 Add DAW to cargo catalog
  Resources/Locale/en-US/_ftl/cargo-service.ftl
  Resources/Prototypes/_FTL/Catalog/Cargo/cargo_service.yml
Labels: No C#

#198 New Escape Pods
  Resources/Maps/_FTL/pods/escape-pod-deserted.yml
  Resources/Maps/_FTL/pods/escape-pod-explosive.yml
  Resources/Maps/_FTL/pods/escape-pod-hostile.yml
  Resources/Maps/_FTL/pods/escape-pod-occupied.yml
  Resources/Maps/_FTL/pods/escape-pod-trapped.yml
Labels: No C#

#203 storkwalmer
  Resources/Maps/_FTL/acks/stormwalker.yml
  Resources/Prototypes/_FTL/Maps/stormwalker.yml
Labels: No C#
