Repository ekrixi-14/ekrixi, pull requests merged in 2023-07, with the labels that each got.

#6 Ship weapons
  Content.Client/Entry/EntryPoint.cs
  Content.Client/Shuttles/UI/RadarConsoleWindow.xaml
  Content.Client/_FTL/Weapons/WeaponMapControl.cs
  Content.Client/_FTL/Weapons/WeaponTargetingWindow.xaml
  Content.Client/_FTL/Weapons/WeaponTargetingWindow.xaml.cs
  Content.Client/_FTL/Weapons/WeaponTargetingWindowBoundUserInterface.cs
  Content.IntegrationTests/Tests/Station/StationJobsTest.cs
  Content.Server/_FTL/ShipHealth/FTLShipHealthComponent.cs
  Content.Server/_FTL/ShipHealth/FTLShipHealthSystem.cs
  Content.Server/_FTL/Weapons/FTLAmmoComponent.cs
  Content.Server/_FTL/Weapons/FTLAmmoType.cs
  Content.Server/_FTL/Weapons/FTLWeaponComponent.cs
  Content.Server/_FTL/Weapons/FTLWeaponSiloComponent.cs
  Content.Server/_FTL/Weapons/WeaponTargetingComponent.cs
  Content.Server/_FTL/Weapons/WeaponTargetingSystem.cs
  Content.Shared/_FTL/Weapons/SharedWeaponTargetingSystem.cs
  Resources/Locale/en-US/_ftl/weapons.ftl
  Resources/Maps/_FTL/kestrel.yml
  Resources/Prototypes/_FTL/DeviceLinking/sink_ports.yml
  Resources/Prototypes/_FTL/DeviceLinking/source_ports.yml
  Resources/Prototypes/_FTL/Entities/Objects/Weapons/Guns/Ammunition/explosive.yml
  Resources/Prototypes/_FTL/Entities/Structures/Machines/Computers/weapon_targeting.yml
  Resources/Prototypes/_FTL/Entities/Structures/Weapons/silo.yml
  Resources/Prototypes/_FTL/ammo_types.yml
  Resources/Prototypes/_FTL/tags.yml
  Resources/Textures/_FTL/silo.rsi/closed.png
  Resources/Textures/_FTL/silo.rsi/meta.json
  Resources/Textures/_FTL/silo.rsi/open.png
  Resources/Textures/_FTL/silo.rsi/tray.png
Labels: Changes: Sprites, Changes: UI

#11 Name change
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
Labels: No C#

#14 meet the pilot
  Resources/Locale/en-US/job/job-names.ftl
  Resources/Maps/_FTL/kestrel.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
  Resources/Prototypes/_FTL/Entities/Clothing/Uniforms/jumpsuits.yml
  Resources/Prototypes/_FTL/Entities/Markers/Spawners/job.yml
  Resources/Prototypes/_FTL/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_FTL/Maps/kestrel.yml
  Resources/Prototypes/_FTL/Objects/Devices/pda.yml
  Resources/Prototypes/_FTL/Roles/Jobs/Command/pilot.yml
  Resources/Prototypes/_FTL/Roles/play_time_trackers.yml
  Resources/Textures/_FTL/Clothing/Uniforms/Jumpsuit/pilot.rsi/equipped-INNERCLOTHING.png
  Resources/Textures/_FTL/Clothing/Uniforms/Jumpsuit/pilot.rsi/icon.png
  Resources/Textures/_FTL/Clothing/Uniforms/Jumpsuit/pilot.rsi/inhand-left.png
  Resources/Textures/_FTL/Clothing/Uniforms/Jumpsuit/pilot.rsi/inhand-right.png
  Resources/Textures/_FTL/Clothing/Uniforms/Jumpsuit/pilot.rsi/meta.json
Labels: Changes: Sprites, No C#

#27 Better Fire Sprite
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Textures/_FTL/fire.rsi/heat.png
  Resources/Textures/_FTL/fire.rsi/meta.json
Labels: Changes: Sprites, No C#

#36 update kestrel
  Resources/Maps/_FTL/kestrel.yml
Labels: No C#

#37 Job reorganization
  Resources/Locale/en-US/_ftl/ghost-roles.ftl
  Resources/Maps/_FTL/trade-station.yml
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
  Resources/Prototypes/Roles/Jobs/Engineering/atmospheric_technician.yml
  Resources/Prototypes/_FTL/Entities/Markers/Spawners/trader_station.yml
  Resources/Prototypes/_FTL/Entities/Mobs/NPCs/trader_station.yml
  Resources/Prototypes/_FTL/Maps/kestrel.yml
Labels: No C#

#32 Weapon improvements
  Content.Server/_FTL/ShipTracker/ShipTrackerSystem.cs
  Content.Server/_FTL/Weapons/FTLAmmoComponent.cs
  Content.Server/_FTL/Weapons/FTLAmmoType.cs
  Content.Server/_FTL/Weapons/FTLWeaponSiloComponent.cs
  Content.Server/_FTL/Weapons/WeaponTargetingSystem.cs
  Resources/Locale/en-US/_ftl/weapons.ftl
  Resources/Maps/_FTL/cargo-vessel.yml
  Resources/Maps/_FTL/kestrel.yml
  Resources/Maps/_FTL/small-drone-easy.yml
  Resources/Maps/_FTL/small-drone-tough.yml
  Resources/Prototypes/Entities/Objects/Misc/fire_extinguisher.yml
  Resources/Prototypes/_FTL/Entities/Objects/Misc/fire.yml
  Resources/Prototypes/_FTL/Entities/Objects/Weapons/Guns/Ammunition/explosive.yml
  Resources/Prototypes/_FTL/Entities/Structures/Machines/Computers/weapon_targeting.yml
  Resources/Prototypes/_FTL/Entities/Structures/Weapons/base.yml
  Resources/Prototypes/_FTL/Entities/Structures/Weapons/laser.yml
  Resources/Prototypes/_FTL/Entities/Structures/Weapons/misc.yml
  Resources/Prototypes/_FTL/Entities/Structures/Weapons/silo.yml
  Resources/Prototypes/_FTL/Entities/explosions.yml
  Resources/Prototypes/_FTL/ammo_types.yml
  Resources/Prototypes/_FTL/tags.yml
  Resources/Textures/_FTL/Structures/Weapons/silo.rsi/closed.png
  Resources/Textures/_FTL/Structures/Weapons/silo.rsi/meta.json
  Resources/Textures/_FTL/Structures/Weapons/silo.rsi/open.png
  Resources/Textures/_FTL/Structures/Weapons/silo.rsi/tray.png
  Resources/Textures/_FTL/Structures/Weapons/silot2.rsi/closed.png
  Resources/Textures/_FTL/Structures/Weapons/silot2.rsi/meta.json
  Resources/Textures/_FTL/Structures/Weapons/silot2.rsi/open.png
  Resources/Textures/_FTL/Structures/Weapons/silot2.rsi/tray.png
  Resources/Textures/_FTL/Structures/Weapons/silot3.rsi/closed.png
  Resources/Textures/_FTL/Structures/Weapons/silot3.rsi/meta.json
  Resources/Textures/_FTL/Structures/Weapons/silot3.rsi/open.png
  Resources/Textures/_FTL/Structures/Weapons/silot3.rsi/tray.png
  Resources/Textures/_FTL/silo.rsi/closed.png
  Resources/Textures/_FTL/silo.rsi/open.png
  Resources/Textures/_FTL/silo.rsi/tray.png
Labels: Changes: Sprites

#41 fix tests
  Resources/Prototypes/_FTL/ftl_points.yml
Labels: No C#

#38 No more fragile missiles
  Resources/Prototypes/_FTL/Entities/Objects/Weapons/Guns/Ammunition/explosive.yml
  Resources/Prototypes/_FTL/Entities/Structures/Weapons/laser.yml
  Resources/Prototypes/_FTL/Entities/Structures/Weapons/silo.yml
Labels: No C#

#40 Guidebooks
  Resources/Locale/en-US/_ftl/guidebook.ftl
  Resources/Locale/en-US/cargo/cargo-console-component.ftl
  Resources/Locale/en-US/cargo/price-gun-component.ftl
  Resources/Locale/en-US/game-ticking/game-presets/preset-pirates.ftl
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/Prototypes/_FTL/Guidebook/lore.yml
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Engineering/Fires.xml
  Resources/ServerInfo/Guidebook/Jobs.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/A2B.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/ACKs.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/CoreGov.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/Faction.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/FrontierStabilityCorp.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/IncSek.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/Independent.xml
  Resources/ServerInfo/Guidebook/Lore/History.xml
  Resources/ServerInfo/Guidebook/Lore/Lore.xml
  Resources/ServerInfo/Guidebook/Medical/Cryogenics.xml
  Resources/ServerInfo/Guidebook/Pilot/Navigation.xml
  Resources/ServerInfo/Guidebook/Security/GunsAndYou.xml
  Resources/ServerInfo/Guidebook/Security/Law.xml
  Resources/ServerInfo/Guidebook/SpaceStation14.xml
Labels: No C#

#39 No more plasmagen
  Resources/Maps/_FTL/kestrel.yml
Labels: No C#

#46 You cannot use the pad on link
  Content.Client/_FTL/Weapons/WeaponMapControl.cs
  Content.Client/_FTL/Weapons/WeaponTargetingWindow.xaml.cs
  Content.Client/_FTL/Weapons/WeaponTargetingWindowBoundUserInterface.cs
  Content.Server/_FTL/PowerControl/PowerControlSystem.cs
  Content.Server/_FTL/SleeperCryopod/SleeperCryopodSystem.cs
  Content.Server/_FTL/Weapons/WeaponTargetingComponent.cs
  Content.Server/_FTL/Weapons/WeaponTargetingSystem.cs
  Content.Shared/_FTL/Weapons/SharedWeaponTargetingSystem.cs
  Resources/Locale/en-US/_ftl/weapons.ftl
  Resources/ServerInfo/Guidebook/Security/GunsAndYou.xml
Labels: Changes: UI

#49 OT is now cool
  Resources/Prototypes/Roles/Jobs/Cargo/cargo_technician.yml
Labels: No C#

#52 Wildlife and Chemicals
  Resources/Prototypes/_FTL/Catalog/Fills/Crates/chemistry.yml
  Resources/Prototypes/_FTL/Entities/Markers/Spawners/Random/chemistry.yml
  Resources/Prototypes/_FTL/Entities/Mobs/NPCs/wildlife.yml
  Resources/Prototypes/_FTL/Entities/Objects/Specific/Chemistry/beakers.yml
  Resources/Textures/_FTL/Mobs/Wildlife/bear.rsi/dead.png
  Resources/Textures/_FTL/Mobs/Wildlife/bear.rsi/meta.json
  Resources/Textures/_FTL/Mobs/Wildlife/bear.rsi/running.png
  Resources/Textures/_FTL/Mobs/Wildlife/wolf.rsi/dead.png
  Resources/Textures/_FTL/Mobs/Wildlife/wolf.rsi/meta.json
  Resources/Textures/_FTL/Mobs/Wildlife/wolf.rsi/running.png
Labels: Changes: Sprites, No C#

#53 kestrel update yippee
  Resources/Maps/_FTL/kestrel.yml
Labels: No C#

#54 Credit system
  Content.Server/Cargo/Components/StationBankAccountComponent.cs
  Content.Server/_FTL/FTLPoints/Effects/SpawnStationEffect.cs
  Content.Server/_FTL/FTLPoints/FTLPointsSystem.cs
  Content.Server/_FTL/FTLPoints/GeneratePointCommand.cs
  Content.Server/_FTL/FTLPoints/IndependentNameGenerator.cs
  Content.Server/_FTL/NoAnchor/NoAnchorComponent.cs
  Content.Server/_FTL/NoAnchor/NoAnchorSystem.cs
  Content.Server/_FTL/OutpostATM/CreditComponent.cs
  Content.Server/_FTL/OutpostATM/OutpostATMComponent.cs
  Content.Server/_FTL/OutpostATM/OutpostATMSystem.cs
  Resources/Locale/en-US/_ftl/currency.ftl
  Resources/Locale/en-US/_ftl/unanchor.ftl
  Resources/Maps/_FTL/trade-station.yml
  Resources/Prototypes/Entities/Objects/Misc/space_cash.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/cargo_telepad.yml
  Resources/Prototypes/Guidebook/security.yml
  Resources/Prototypes/_FTL/Entities/Mobs/NPCs/trader_station.yml
  Resources/Prototypes/_FTL/Entities/Structures/Machines/Computers/atm.yml
  Resources/Prototypes/_FTL/Maps/kestrel.yml
  Resources/Prototypes/_FTL/Maps/trade-station.yml
  Resources/Prototypes/_FTL/ammo_types.yml
  Resources/Prototypes/_FTL/ftl_points.yml
  Resources/Prototypes/_FTL/game_presets.yml
  Resources/Prototypes/_FTL/tags.yml
  Resources/ServerInfo/Guidebook/Cargo/Cargo.xml
  Resources/ServerInfo/Guidebook/Pilot/Navigation.xml
  Resources/Textures/_FTL/Structures/Machines/atm.rsi/display.png
  Resources/Textures/_FTL/Structures/Machines/atm.rsi/icon.png
  Resources/Textures/_FTL/Structures/Machines/atm.rsi/meta.json
  Resources/Textures/_FTL/Structures/Machines/atm.rsi/unshaded.png
Labels: Changes: Sprites

#55 Update kestrel and trade station
  Resources/Maps/_FTL/kestrel.yml
  Resources/Maps/_FTL/trade-station.yml
Labels: No C#

#58 Wall buff and economy rebalance
  Resources/Prototypes/Atmospherics/gases.yml
  Resources/Prototypes/Catalog/Cargo/cargo_armory.yml
  Resources/Prototypes/Catalog/Cargo/cargo_atmospherics.yml
  Resources/Prototypes/Catalog/Cargo/cargo_emergency.yml
  Resources/Prototypes/Catalog/Cargo/cargo_engines.yml
  Resources/Prototypes/Catalog/Cargo/cargo_food.yml
  Resources/Prototypes/Catalog/Cargo/cargo_materials.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Walls/walls.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Reagents/Materials/metals.yml
  Resources/Prototypes/_FTL/Catalog/Cargo/cargo_botany.yml
  Resources/Prototypes/_FTL/Catalog/Cargo/cargo_engines.yml
Labels: No C#

#62 You can now rename the ship
  Content.Server/_FTL/ShipRename/ShipRenameComponent.cs
  Content.Server/_FTL/ShipRename/ShipRenameSystem.cs
  Resources/Locale/en-US/_ftl/ship-rename.ftl
  Resources/Maps/_FTL/kestrel.yml
  Resources/Prototypes/_FTL/Entities/Objects/Misc/button.yml
  Resources/Textures/_FTL/Objects/Misc/button.rsi/bell-push.png
  Resources/Textures/_FTL/Objects/Misc/button.rsi/bell.png
  Resources/Textures/_FTL/Objects/Misc/button.rsi/buttonblue.png
  Resources/Textures/_FTL/Objects/Misc/button.rsi/buttonblue_push.png
  Resources/Textures/_FTL/Objects/Misc/button.rsi/buttonred.png
  Resources/Textures/_FTL/Objects/Misc/button.rsi/buttonred_push.png
  Resources/Textures/_FTL/Objects/Misc/button.rsi/meta.json
Labels: Changes: Sprites

#63 More enemy ships
  Resources/Maps/_FTL/cargo-vessel.yml
  Resources/Maps/_FTL/easy-drone.yml
  Resources/Maps/_FTL/fsc-fighter.yml
  Resources/Maps/_FTL/incsek-bomber.yml
  Resources/Maps/_FTL/orb.yml
  Resources/Maps/_FTL/pod.yml
  Resources/Maps/_FTL/rod.yml
  Resources/Maps/_FTL/template.yml
  Resources/Maps/_FTL/tough-drone.yml
  Resources/Prototypes/_FTL/Entities/Markers/Spawners/weapons.yml
  Resources/Prototypes/_FTL/ftl_points.yml
Labels: No C#

#66 You can now order a majority of T1 and T2 weapons
  Resources/Locale/en-US/_ftl/crates.ftl
  Resources/Prototypes/_FTL/Catalog/Cargo/cargo_security.yml
  Resources/Prototypes/_FTL/Catalog/Fills/Crates/missiles.yml
Labels: No C#

#69 Flesh planets
  Content.Server/_FTL/FTLPoints/Effects/AddWeatherEffect.cs
  Content.Server/_FTL/FTLPoints/Effects/SpawnStationEffect.cs
  Content.Server/_FTL/FTLPoints/GeneratePointCommand.cs
  Resources/Prototypes/_FTL/Procedural/biome_templates.yml
  Resources/Prototypes/_FTL/Tiles/fluid.yml
  Resources/Prototypes/_FTL/Tiles/planet.yml
  Resources/Prototypes/_FTL/ftl_points.yml
  Resources/Prototypes/_FTL/weather.yml
  Resources/Textures/_FTL/Effects/weather.rsi/blood.png
  Resources/Textures/_FTL/Effects/weather.rsi/meta.json
  Resources/Textures/_FTL/Tiles/Planet/blood.rsi/meta.json
  Resources/Textures/_FTL/Tiles/Planet/blood.rsi/shoreline_blood.png
Labels: Changes: Sprites

#72 Show height and balance height bounds
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Shared/Humanoid/Prototypes/SpeciesPrototype.cs
  Content.Shared/Preferences/HumanoidCharacterProfile.cs
  Resources/Prototypes/Species/dwarf.yml
Labels: Changes: UI

#74 Worldbuilding
  Resources/ServerInfo/Guidebook/Lore/Factions/A2B.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/ACKs.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/CoreGov.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/Faction.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/FrontierStabilityCorp.xml
  Resources/ServerInfo/Guidebook/Lore/Factions/IncSek.xml
  Resources/ServerInfo/Guidebook/Lore/History.xml
  Resources/ServerInfo/Guidebook/Lore/Lore.xml
  Resources/ServerInfo/Guidebook/Pilot/Navigation.xml
Labels: No C#

#76 Better kestrel
  Resources/Maps/_FTL/kestrel.yml
Labels: No C#

#78 Cooler Better and Badder Guidebooks
  Content.Client/Guidebook/Controls/GuideColorLabelBand.xaml
  Content.Client/Guidebook/Controls/GuideColorLabelBand.xaml.cs
  Content.Client/Guidebook/Controls/GuideEntityEmbed.xaml.cs
  Content.Client/Guidebook/GuidebookSystem.cs
  Content.Client/UserInterface/Systems/Guidebook/GuidebookUIController.cs
  Resources/Locale/en-US/_ftl/guidebook.ftl
  Resources/Locale/en-US/guidebook/guides.ftl
  Resources/Prototypes/Guidebook/ss14.yml
  Resources/Prototypes/_FTL/Entities/Guidebook/main_page.yml
  Resources/Prototypes/_FTL/Guidebook/sop.yml
  Resources/ServerInfo/Guidebook/Jobs.xml
  Resources/ServerInfo/Guidebook/SoP/StandardOperatingProcedure.xml
  Resources/ServerInfo/Guidebook/SoP/TradeStationEtiquette.xml
  Resources/ServerInfo/Guidebook/SpaceStation14.xml
Labels: Changes: UI

#80 Remap the entire Kestrel
  Resources/Maps/_FTL/kestrel.yml
  Resources/Prototypes/_FTL/Maps/kestrel.yml
Labels: No C#

#79 Robust Econony
  Content.Client/_FTL/Economy/IdAtmBoundUserInterface.cs
  Content.Client/_FTL/Economy/PdaAtmUiWindow.xaml
  Content.Client/_FTL/Economy/PdaAtmUiWindow.xaml.cs
  Content.Server/_FTL/Economy/CreditCardComponent.cs
  Content.Server/_FTL/Economy/CreditComponent.cs
  Content.Server/_FTL/Economy/EconomySystem.cs
  Content.Server/_FTL/Economy/IdAtmComponent.cs
  Content.Server/_FTL/Economy/OutpostATMComponent.cs
  Content.Server/_FTL/OutpostATM/OutpostATMSystem.cs
  Content.Shared/_FTL/Economy/IdAtmUiMessageEvent.cs
  Content.Shared/_FTL/Economy/IdAtmUiState.cs
  Content.Shared/_FTL/Economy/SharedEconomySystem.cs
  Resources/Locale/en-US/_ftl/currency.ftl
  Resources/Maps/_FTL/trade-station.yml
  Resources/Prototypes/Entities/Objects/Misc/identification_cards.yml
  Resources/Prototypes/_FTL/Entities/Structures/Machines/Computers/atm.yml
Labels: Changes: UI

#83 Cryopod resprite
  Content.Server/_FTL/SleeperCryopod/SleeperCryopodComponent.cs
  Content.Server/_FTL/SleeperCryopod/SleeperCryopodSystem.cs
  Content.Shared/_FTL/SleeperCryopod/SleeperCryopodVisuals.cs
  Resources/Prototypes/_FTL/Entities/Structures/Machines/cryopod.yml
  Resources/Textures/_FTL/Structures/Machines/cryopod.rsi/closed.png
  Resources/Textures/_FTL/Structures/Machines/cryopod.rsi/cryopod.png
  Resources/Textures/_FTL/Structures/Machines/cryopod.rsi/meta.json
  Resources/Textures/_FTL/Structures/Machines/cryopod.rsi/off.png
  Resources/Textures/_FTL/Structures/Machines/cryopod.rsi/open.png
Labels: Changes: Sprites

#82 Better kestrel 2.0
  Resources/Maps/_FTL/kestrel.yml
Labels: No C#

#84 Trade station update
  Resources/Maps/_FTL/trade-station.yml
Labels: No C#

#85 Merc greenwash
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Labels: No C#

#89 Revert merc greenwash
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Labels: No C#

#90 Missiles have a warning
  Content.Server/_FTL/ExplodeOnInit/ExplodeOnInitComponent.cs
  Content.Server/_FTL/ExplodeOnInit/ExplodeOnInitSystem.cs
  Resources/Prototypes/_FTL/Entities/Structures/Weapons/base.yml
  Resources/Prototypes/_FTL/Entities/explosions.yml
  Resources/Textures/_FTL/Effects/target.rsi/alert.png
  Resources/Textures/_FTL/Effects/target.rsi/meta.json
  Resources/Textures/_FTL/Effects/target.rsi/outline.png
  Resources/Textures/_FTL/Effects/target.rsi/target.png
Labels: Changes: Sprites

#106 Ships
  Resources/Maps/_FTL/recon-drone.yml
Labels: No C#

#109 Shield generators
  Content.Server/_FTL/AutomatedShip/Systems/AutomatedShipSystem.Combat.cs
  Content.Server/_FTL/AutomatedShip/Systems/AutomatedShipSystem.cs
  Content.Server/_FTL/ShipTracker/Commands/DamageShipCommand.cs
  Content.Server/_FTL/ShipTracker/ShieldGeneratorComponent.cs
  Content.Server/_FTL/ShipTracker/ShipTrackerComponent.cs
  Content.Server/_FTL/ShipTracker/Systems/ShipTrackerSystem.Shields.cs
  Content.Server/_FTL/ShipTracker/Systems/ShipTrackerSystem.cs
  Content.Server/_FTL/Weapons/WeaponTargetingSystem.cs
  Content.Shared/_FTL/ShipTracker/SharedShipTrackerSystem.cs
  Resources/Locale/en-US/_ftl/ships.ftl
  Resources/Locale/en-US/_ftl/weapons.ftl
  Resources/Prototypes/Catalog/Fills/Boxes/emergency.yml
  Resources/Prototypes/_FTL/Entities/Structures/Machines/shield_generator.yml
  Resources/Textures/_FTL/Structures/Machines/shield_generator_core.rsi/activated.png
  Resources/Textures/_FTL/Structures/Machines/shield_generator_core.rsi/idle.png
  Resources/Textures/_FTL/Structures/Machines/shield_generator_core.rsi/meta.json
Labels: Changes: Sprites

#110 Kestrel improvements
  Resources/Maps/_FTL/kestrel.yml
Labels: No C#

#114 Ships
  Resources/Maps/_FTL/coregov-fang.yml
  Resources/Maps/_FTL/coregov-medusa.yml
  Resources/Maps/_FTL/coregov-prisoner-small.yml
  Resources/Maps/_FTL/coregov-surveyor.yml
Labels: No C#

#115 IPC buffs
  Resources/Prototypes/_FTL/Entities/Mobs/Species/ipc.yml
Labels: No C#
