Repository ekrixi-14/ekrixi, pull requests merged in 2024-03, with the labels that each got.

#219 CTV: Lobby screen
  Content.Client/Access/AccessOverlay.cs
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/UI/SpawnExplosion/ExplosionDebugOverlay.cs
  Content.Client/Fluids/PuddleOverlay.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/NPC/HTN/HTNOverlay.cs
  Content.Client/NPC/PathfindingSystem.cs
  Content.Client/NodeContainer/NodeVisualizationOverlay.cs
  Content.Client/Popups/PopupOverlay.cs
  Content.Client/Radiation/Overlays/RadiationDebugOverlay.cs
  Content.Client/Stylesheets/StyleBase.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/Stylesheets/StyleSpace.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_FTL/FtlPoints/StarmapControl.cs
  Resources/Fonts/B612_Mono/B612_Mono-Bold.ttf
  Resources/Fonts/B612_Mono/B612_Mono-BoldItalic.ttf
  Resources/Fonts/B612_Mono/B612_Mono-Italic.ttf
  Resources/Fonts/B612_Mono/B612_Mono-Regular.ttf
  Resources/Fonts/B612_Mono/OFL.txt
  Resources/Locale/en-US/lobby/lobby-gui.ftl
  Resources/Textures/Interface/Nano/button.svg
  Resources/Textures/Interface/Nano/button.svg.96dpi.png
Labels: ui, ctv pr

#221 CTV: Warp Drives
  Content.Client/_FTL/FtlPoints/StarmapConsole.xaml
  Content.Client/_FTL/FtlPoints/StarmapConsole.xaml.cs
  Content.Client/_FTL/FtlPoints/StarmapControl.cs
  Content.Server/Shuttles/Systems/ShuttleSystem.FasterThanLight.cs
  Content.Server/_FTL/AutomatedShip/Systems/AutomatedShipSystem.cs
  Content.Server/_FTL/AutomatedShip/Systems/WarpEveryTickSystem.cs
  Content.Server/_FTL/FTLPoints/Components/WarpDriveComponent.cs
  Content.Server/_FTL/FTLPoints/Components/WarpingShipComponent.cs
  Content.Server/_FTL/FTLPoints/Systems/FtlPointsSystem.Starmap.cs
  Content.Server/_FTL/FTLPoints/Systems/FtlPointsSystem.WarpDrive.cs
  Content.Server/_FTL/FTLPoints/Systems/FtlPointsSystem.cs
  Content.Server/_FTL/FTLPoints/Tick/GenerateNewSector/GenerateNewSectorTickComponent.cs
  Content.Server/_FTL/FTLPoints/Tick/GenerateNewSector/GenerateNewSectorTickSystem.cs
  Content.Server/_FTL/FTLPoints/Tick/StarmapTickSystem.cs
  Content.Server/_FTL/ShipTracker/Rules/GeneratePoints/GeneratePointsSystem.cs
  Resources/ConfigPresets/Build/development.toml
  Resources/Locale/en-US/_ftl/starmap.ftl
  Resources/Prototypes/_FTL/Entities/Structures/Machines/warp-drive.yml
  Resources/Prototypes/_FTL/ftl_points.yml
  Resources/Prototypes/_FTL/test-object.yml
  Resources/Textures/_FTL/Structures/Machines/warp-drive.rsi/meta.json
  Resources/Textures/_FTL/Structures/Machines/warp-drive.rsi/warp-drive.png
Labels: sprites, ui, ctv pr

#222 Branding
  Content.Client/Access/AccessOverlay.cs
  Content.Client/Administration/AdminNameOverlay.cs
  Content.Client/Administration/UI/SpawnExplosion/ExplosionDebugOverlay.cs
  Content.Client/Fluids/PuddleOverlay.cs
  Content.Client/Lobby/LobbyState.cs
  Content.Client/Lobby/UI/LobbyGui.xaml
  Content.Client/NPC/HTN/HTNOverlay.cs
  Content.Client/NPC/PathfindingSystem.cs
  Content.Client/NodeContainer/NodeVisualizationOverlay.cs
  Content.Client/Popups/PopupOverlay.cs
  Content.Client/Radiation/Overlays/RadiationDebugOverlay.cs
  Content.Client/Stylesheets/StyleBase.cs
  Content.Client/Stylesheets/StyleNano.cs
  Content.Client/Stylesheets/StyleSpace.cs
  Content.Client/UserInterface/Systems/Bwoink/AHelpUIController.cs
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml
  Content.Client/UserInterface/Systems/Chat/Widgets/ChatBox.xaml.cs
  Content.Client/_FTL/FtlPoints/StarmapControl.cs
  Resources/Fonts/B612_Mono/B612_Mono-Bold.ttf
  Resources/Fonts/B612_Mono/B612_Mono-BoldItalic.ttf
  Resources/Fonts/B612_Mono/B612_Mono-Italic.ttf
  Resources/Fonts/B612_Mono/B612_Mono-Regular.ttf
  Resources/Fonts/B612_Mono/OFL.txt
  Resources/Locale/en-US/lobby/lobby-gui.ftl
  Resources/Textures/Interface/Nano/button.svg
  Resources/Textures/Interface/Nano/button.svg.96dpi.png
  Resources/Textures/Logo/convert.bat
  Resources/Textures/Logo/icon.png
  Resources/Textures/Logo/icon.svg
  Resources/Textures/Logo/icon/icon-128x128.png
  Resources/Textures/Logo/icon/icon-16x16.png
  Resources/Textures/Logo/icon/icon-24x24.png
  Resources/Textures/Logo/icon/icon-256x256.png
  Resources/Textures/Logo/icon/icon-32x32.png
  Resources/Textures/Logo/icon/icon-48x48.png
  Resources/Textures/Logo/icon/icon-64x64.png
  Resources/Textures/Logo/logo.png
  Resources/Textures/Logo/logo.svg
  Resources/manifest.yml
Labels: ui, ctv pr

#223 Cestoda warp drive
  Resources/Maps/_FTL/acks/cestoda.yml
Labels: no C#, ctv pr

#217 CTV: Medical
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml
  Content.Client/Preferences/UI/HumanoidProfileEditor.xaml.cs
  Content.Server/HealthExaminable/HealthExaminableSystem.cs
  Content.Server/_FTL/Wounds/WoundThresholdComponent.cs
  Content.Server/_FTL/Wounds/WoundTreatmentSystem.cs
  Content.Shared/Damage/DamageModifierSet.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/Verbs/VerbCategory.cs
  Content.Shared/_FTL/Wounds/BaseTreatmentPath.cs
  Content.Shared/_FTL/Wounds/SharedWoundsSystem.cs
  Content.Shared/_FTL/Wounds/ToolTreatmentPath.cs
  Content.Shared/_FTL/Wounds/WoundComponent.cs
  Content.Shared/_FTL/Wounds/WoundsHolderComponent.cs
  Resources/Locale/en-US/_ftl/wounds.ftl
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Specific/Medical/surgery.yml
  Resources/Prototypes/_FTL/Entities/Objects/Weapons/Guns/Projectiles/ap.yml
  Resources/Prototypes/_FTL/Entities/Wounds/debug.yml
  Resources/Prototypes/_FTL/Entities/Wounds/wounds.yml
Labels: ui, ctv pr

#225 no more head roles on the cestoda
  Resources/Maps/_FTL/acks/cestoda.yml
  Resources/Prototypes/_FTL/Maps/cestoda.yml
Labels: no C#, ctv pr

#228 Remove health analyzers
  Resources/Prototypes/Catalog/Fills/Backpacks/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Items/firstaidkits.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/medical.yml
  Resources/Prototypes/Catalog/VendingMachines/Inventories/robotics.yml
  Resources/Prototypes/Entities/Objects/Devices/pda.yml
  Resources/Prototypes/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Recipes/Lathes/medical.yml
  Resources/Prototypes/Roles/Jobs/Fun/emergencyresponseteam.yml
Labels: no C#, ctv pr

#229 IPCs have pants
  Resources/Prototypes/_FTL/Entities/Mobs/Species/ipc.yml
Labels: no C#, ctv pr

#230 Cestoda surgical bag
  Resources/Maps/_FTL/acks/cestoda.yml
Labels: no C#, ctv pr

#231 Fix map-related test fails
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Prototypes/_FTL/Maps/kestrel.yml
  Resources/Prototypes/_FTL/Maps/nesasio.yml
  Resources/Prototypes/_FTL/Maps/paper-plane.yml
  Resources/Prototypes/_FTL/Maps/stormwalker.yml
  Resources/Prototypes/_FTL/Maps/trade-station.yml
Labels: ctv pr

#234 Fix secrets
  Content.ServerSecret/Content.ServerSecret.csproj
  Tools/setup_secrets.sh
Labels: no C#, ctv pr
