Repository ekrixi-14/ekrixi, pull requests merged in 2024-04, with the labels that each got.

#236 Cestoda telecomms fix + ATM
  Resources/Maps/_FTL/ships/cestoda.yml
Labels: no C#, ctv pr

#240 Cestoda updates
  Resources/Maps/_FTL/ships/cestoda.yml
  Resources/Prototypes/_FTL/Maps/cestoda.yml
Labels: no C#, ctv pr

#239 Warpdrive Resprite
  Resources/Prototypes/_FTL/Entities/Structures/Machines/warp-drive.yml
  Resources/Textures/_FTL/Structures/Machines/warp-drive.rsi/base.png
  Resources/Textures/_FTL/Structures/Machines/warp-drive.rsi/meta.json
  Resources/Textures/_FTL/Structures/Machines/warp-drive.rsi/on.png
  Resources/Textures/_FTL/Structures/Machines/warp-drive.rsi/warp-drive.png
Labels: sprites, no C#, ctv pr

#241 Make captain able to equip the machete on his belt, and swap the positions of it and the laser.
  Resources/Prototypes/Entities/Objects/Weapons/Melee/sword.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Textures/Objects/Weapons/Melee/machete.rsi/equipped-BELT.png
Labels: sprites, no C#, ctv pr

#242 Adjust captain's locker fill
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
Labels: no C#, ctv pr

#243 Machete now shows up on the character sprite
  Resources/Textures/Objects/Weapons/Melee/machete.rsi/meta.json
Labels: no C#, ctv pr

#244 Add debug VIE tools
  Resources/Prototypes/_FTL/Entities/Objects/Weapons/Melee/debug.yml
  Resources/Textures/_FTL/Objects/Weapons/Melee/vie-healer.rsi/icon.png
  Resources/Textures/_FTL/Objects/Weapons/Melee/vie-healer.rsi/inhand-left.png
  Resources/Textures/_FTL/Objects/Weapons/Melee/vie-healer.rsi/inhand-right.png
  Resources/Textures/_FTL/Objects/Weapons/Melee/vie-healer.rsi/meta.json
  Resources/Textures/_FTL/Objects/Weapons/Melee/vie-sword.rsi/icon.png
  Resources/Textures/_FTL/Objects/Weapons/Melee/vie-sword.rsi/inhand-left.png
  Resources/Textures/_FTL/Objects/Weapons/Melee/vie-sword.rsi/inhand-right.png
  Resources/Textures/_FTL/Objects/Weapons/Melee/vie-sword.rsi/meta.json
Labels: sprites, no C#, ctv pr

#246 Fix devship wiring
  Resources/Maps/_FTL/devship.yml
Labels: no C#, ctv pr

#247 Fix tests
  Content.Server/HealthExaminable/HealthExaminableSystem.cs
  Content.Server/_FTL/Wounds/WoundThresholdComponent.cs
  Content.Server/_FTL/Wounds/WoundTreatmentSystem.cs
  Content.Shared/Damage/DamageSpecifier.cs
  Content.Shared/Damage/Systems/DamageableSystem.cs
  Content.Shared/_FTL/Wounds/BaseTreatmentPath.cs
  Content.Shared/_FTL/Wounds/SharedWoundsSystem.cs
  Content.Shared/_FTL/Wounds/ToolTreatmentPath.cs
  Content.Shared/_FTL/Wounds/WoundComponent.cs
  Content.Shared/_FTL/Wounds/WoundsHolderComponent.cs
  Resources/Locale/en-US/_ftl/commands.ftl
  Resources/Locale/en-US/_ftl/wounds.ftl
  Resources/Prototypes/Entities/Debugging/debug_sweps.yml
  Resources/Prototypes/Entities/Mobs/base.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/antimateriel.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/caseless_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/heavy_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/light_rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/magnum.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/pistol.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/rifle.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Ammunition/Projectiles/shotgun.yml
  Resources/Prototypes/Entities/Objects/Weapons/Guns/Projectiles/projectiles.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/_FTL/Entities/Objects/Weapons/Guns/Projectiles/ap.yml
  Resources/Prototypes/_FTL/Entities/Wounds/debug.yml
  Resources/Prototypes/_FTL/Entities/Wounds/gunshot.yml
  Resources/Prototypes/_FTL/Entities/Wounds/wounds.yml
  Resources/Prototypes/_FTL/Entities/contract.yml
Labels: ctv pr

#245 Remove all mentions of NT or the syndicate from all clothing items. Also redescribe/rename items to fit more into the context of ATV.
  Resources/Prototypes/Entities/Clothing/Back/backpacks.yml
  Resources/Prototypes/Entities/Clothing/Back/duffel.yml
  Resources/Prototypes/Entities/Clothing/Back/satchel.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Clothing/Belt/quiver.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets.yml
  Resources/Prototypes/Entities/Clothing/Ears/headsets_alt.yml
  Resources/Prototypes/Entities/Clothing/Eyes/glasses.yml
  Resources/Prototypes/Entities/Clothing/Eyes/hud.yml
  Resources/Prototypes/Entities/Clothing/Hands/gloves.yml
  Resources/Prototypes/Entities/Clothing/Head/eva-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hardsuit-helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/Entities/Clothing/Head/helmets.yml
  Resources/Prototypes/Entities/Clothing/Head/hoods.yml
  Resources/Prototypes/Entities/Clothing/Head/soft.yml
  Resources/Prototypes/Entities/Clothing/Masks/masks.yml
  Resources/Prototypes/Entities/Clothing/Neck/cloaks.yml
  Resources/Prototypes/Entities/Clothing/Neck/mantles.yml
  Resources/Prototypes/Entities/Clothing/Neck/medals.yml
  Resources/Prototypes/Entities/Clothing/Neck/misc.yml
  Resources/Prototypes/Entities/Clothing/Neck/scarfs.yml
  Resources/Prototypes/Entities/Clothing/Neck/ties.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/armor.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/bio.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/coats.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/hardsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/softsuits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/suits.yml
  Resources/Prototypes/Entities/Clothing/OuterClothing/wintercoats.yml
  Resources/Prototypes/Entities/Clothing/Shoes/boots.yml
  Resources/Prototypes/Entities/Clothing/Shoes/magboots.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpskirts.yml
  Resources/Prototypes/Entities/Clothing/Uniforms/jumpsuits.yml
Labels: no C#, ctv pr

#248 Pagers
  Content.Server/_FTL/Pager/PagerActionsComponent.cs
  Content.Server/_FTL/Pager/PagerReceiverComponent.cs
  Content.Server/_FTL/Pager/PagerSystem.cs
  Content.Shared/_FTL/Pager/PagerVisuals.cs
  Resources/Audio/_FTL/Effects/Pagers/attributions.yml
  Resources/Audio/_FTL/Effects/Pagers/pager_beep.ogg
  Resources/Audio/_FTL/Machines/attributions.yml
  Resources/Audio/_FTL/Machines/beep.ogg
  Resources/Audio/_FTL/Machines/pda_button1.ogg
  Resources/Audio/_FTL/Machines/pda_button2.ogg
  Resources/Locale/en-US/_ftl/pagers.ftl
  Resources/Prototypes/_FTL/Device/devicenet_frequencies.yml
  Resources/Prototypes/_FTL/Entities/Objects/Devices/pagers.yml
  Resources/Textures/_FTL/Objects/Devices/pager.rsi/equipped-BELT.png
  Resources/Textures/_FTL/Objects/Devices/pager.rsi/icon.png
  Resources/Textures/_FTL/Objects/Devices/pager.rsi/meta.json
  Resources/Textures/_FTL/Objects/Devices/pager.rsi/paging_overlay.png
  Resources/Textures/_FTL/Objects/Devices/pager.rsi/receiving_overlay.png
Labels: sprites, ctv pr

#268 Fix VIE causing absurd amounts of bleeding
  Resources/Prototypes/Damage/modifier_sets.yml
Labels: no C#, ctv pr

#266 IPC hair/facial hair
  Resources/Prototypes/_FTL/Entities/Mobs/Customization/IPC_facial_hair.yml
  Resources/Prototypes/_FTL/Entities/Mobs/Customization/IPC_hair.yml
  Resources/Prototypes/_FTL/Entities/Mobs/Customization/Markings/IPC_marking.yml
  Resources/Prototypes/_FTL/Species/ipc.yml
Labels: no C#, ctv pr

#267 Add unobtainable VIE medicines
  Resources/Locale/en-US/_ftl/reagents/meta/viem.ftl
  Resources/Prototypes/_FTL/Entities/Objects/Specific/Medical/healing.yml
  Resources/Prototypes/_FTL/Reagents/medicine.yml
Labels: no C#, ctv pr

#270 Weapon Targeting Console Resprite
  Resources/Prototypes/_FTL/Entities/Objects/Devices/circuitboards.yml
  Resources/Prototypes/_FTL/Entities/Structures/Machines/Computers/computers.yml
  Resources/Prototypes/_FTL/Entities/Structures/Machines/Computers/weapon_targeting.yml
  Resources/Prototypes/_FTL/Recipes/Construction/Graphs/weapon_pad.yml
  Resources/Prototypes/_FTL/Recipes/Construction/weapon_pad.yml
  Resources/Textures/_FTL/Structures/Machines/computers.rsi/aiming_key.png
  Resources/Textures/_FTL/Structures/Machines/computers.rsi/aiming_keyboard.png
  Resources/Textures/_FTL/Structures/Machines/computers.rsi/computer.png
  Resources/Textures/_FTL/Structures/Machines/computers.rsi/gun_aiming.png
  Resources/Textures/_FTL/Structures/Machines/computers.rsi/meta.json
Labels: sprites, no C#, ctv pr

#271 Pager Invertory
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/_FTL/Roles/Jobs/Command/pilot.yml
Labels: no C#, ctv pr

#273 Slime cat ears
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/_FTL/Entities/Mobs/Customization/Markings/slime_cat_parts.yml
  Resources/Textures/_FTL/Mobs/Customization/slime_cat_parts.rsi/ears_cat_inner.png
  Resources/Textures/_FTL/Mobs/Customization/slime_cat_parts.rsi/ears_cat_outer.png
  Resources/Textures/_FTL/Mobs/Customization/slime_cat_parts.rsi/meta.json
  Resources/Textures/_FTL/Mobs/Customization/slime_cat_parts.rsi/tail_cat.png
Labels: sprites, no C#, ctv pr

#274 Cestoda weapon consoles fix
  Resources/Maps/_FTL/ships/cestoda.yml
Labels: no C#, ctv pr

#280 Make the combat crosshair good
  Content.Client/CombatMode/CombatModeIndicatorsOverlay.cs
  Resources/Textures/_FTL/Interface/Misc/crosshair_pointers.rsi/gun_bolt_sight.png
  Resources/Textures/_FTL/Interface/Misc/crosshair_pointers.rsi/gun_sight.png
  Resources/Textures/_FTL/Interface/Misc/crosshair_pointers.rsi/melee_sight.png
  Resources/Textures/_FTL/Interface/Misc/crosshair_pointers.rsi/meta.json
Labels: sprites, ctv pr

#281 Better handhelds
  Content.Server/Radio/Components/RadioSpeakerComponent.cs
  Content.Server/Radio/EntitySystems/RadioDeviceSystem.cs
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
  Resources/Prototypes/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
  Resources/Prototypes/_FTL/Entities/Objects/Devices/radio.yml
  Resources/Prototypes/_FTL/Roles/Jobs/Command/pilot.yml
Labels: ctv pr

#275 Entirely remake the three basic enemy ships
  Resources/Maps/_FTL/ai/hijacked-cargo-vessel.yml
  Resources/Maps/_FTL/ai/rod-class.yml
  Resources/Maps/_FTL/ai/spark-class.yml
Labels: no C#, ctv pr

#282 Engineering eye protection
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/backpack.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/duffelbag.yml
  Resources/Prototypes/Catalog/Fills/Backpacks/StarterGear/satchel.yml
Labels: no C#, ctv pr

#283 Fix the gun linking on the spark class
  Resources/Maps/_FTL/ai/spark-class.yml
Labels: no C#, ctv pr

#285 Add ML-Myrmeleon Class Salvage Carrier
  Content.IntegrationTests/Tests/PostMapInitTest.cs
  Resources/Maps/_FTL/ships/myrmeleon.yml
  Resources/Prototypes/_FTL/Maps/Pools/ftl.yml
  Resources/Prototypes/_FTL/Maps/myrmeleon.yml
Labels: ctv pr

#284 Timorethane Saphathrem Benadryl 9000X Perc 3000 Taco Bell ReVis10N-8
  Content.Client/Entry/EntryPoint.cs
  Content.Client/_FTL/FilmGrain/FilmGrainOverlay.cs
  Content.Client/_FTL/Saphaphrem/SaphaphremOverlay.cs
  Content.Client/_FTL/Saphaphrem/SaphaphremOverlaySystem.cs
  Content.Shared/_FTL/Saphaphrem/SaphaphremOverlayComponent.cs
  Resources/Audio/_FTL/Misc/AmenBreak/ftl_break.ogg
  Resources/Audio/_FTL/Misc/AmenBreak/sources.json
  Resources/Locale/en-US/_ftl/reagents/meta/narcotics.ftl
  Resources/Prototypes/Entities/Mobs/Species/base.yml
  Resources/Prototypes/_FTL/Entities/Objects/Specific/narcotics.yml
  Resources/Prototypes/_FTL/Reagents/narcotics.yml
  Resources/Prototypes/_FTL/Shaders/shaders.yml
  Resources/Prototypes/_FTL/status-effects.yml
  Resources/Textures/_FTL/Shaders/film-grain.swsl
  Resources/Textures/_FTL/Shaders/saphaphrem.swsl
Labels: ctv pr

#286 DETHRONE Nesasio
  Resources/ConfigPresets/Ekrixi/ekrixi.toml
  Resources/Prototypes/_FTL/Maps/Pools/ftl.yml
Labels: no C#, ctv pr

#288 Security Sprite Overhaul Two
  Resources/Prototypes/Catalog/Fills/Lockers/security.yml
  Resources/Prototypes/_FTL/Catalog/VendingMachines/Inventories/clothesmate.yml
  Resources/Prototypes/_FTL/Entities/Clothing/Head/hats.yml
  Resources/Prototypes/_FTL/Entities/Clothing/Masks/masks.yml
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Backpacks/security.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Duffels/security.rsi/inhand-right.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/equipped-BACKPACK.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/icon.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/inhand-left.png
  Resources/Textures/Clothing/Back/Satchels/security.rsi/inhand-right.png
  Resources/Textures/_FTL/Clothing/Head/Hats/beanie.rsi/equipped-HELMET.png
  Resources/Textures/_FTL/Clothing/Head/Hats/beanie.rsi/icon.png
  Resources/Textures/_FTL/Clothing/Head/Hats/beanie.rsi/inhand-left.png
  Resources/Textures/_FTL/Clothing/Head/Hats/beanie.rsi/inhand-right.png
  Resources/Textures/_FTL/Clothing/Head/Hats/beanie.rsi/meta.json
  Resources/Textures/_FTL/Clothing/Mask/balaclava.rsi/equipped-MASK.png
  Resources/Textures/_FTL/Clothing/Mask/balaclava.rsi/icon.png
  Resources/Textures/_FTL/Clothing/Mask/balaclava.rsi/inhand-left.png
  Resources/Textures/_FTL/Clothing/Mask/balaclava.rsi/inhand-right.png
  Resources/Textures/_FTL/Clothing/Mask/balaclava.rsi/meta.json
Labels: sprites, no C#, ctv pr

#292 No more radios
  Resources/Prototypes/Catalog/Fills/Lockers/heads.yml
  Resources/Prototypes/Catalog/Fills/Lockers/medical.yml
  Resources/Prototypes/Roles/Jobs/Civilian/assistant.yml
  Resources/Prototypes/Roles/Jobs/Command/captain.yml
  Resources/Prototypes/Roles/Jobs/Engineering/station_engineer.yml
  Resources/Prototypes/Roles/Jobs/Medical/medical_doctor.yml
  Resources/Prototypes/Roles/Jobs/Security/security_officer.yml
Labels: no C#, ctv pr

#291 Cestoda patch
  Resources/Maps/_FTL/ships/cestoda.yml
Labels: no C#, ctv pr

#293 Myrmeleon patch
  Resources/Maps/_FTL/ships/myrmeleon.yml
Labels: no C#, ctv pr

#298 Make PagerRecieverComponent able to be vv-ed
  Content.Server/_FTL/Pager/PagerReceiverComponent.cs
Labels: ctv pr

#299 Un-hardcode the warp drive charging duration
  Content.Server/_FTL/FTLPoints/Components/WarpDriveComponent.cs
  Content.Server/_FTL/FTLPoints/Systems/FtlPointsSystem.WarpDrive.cs
  Resources/Prototypes/_FTL/Entities/Structures/Machines/warp-drive.yml
Labels: ctv pr

#300 Adds Kerfus
  Resources/Locale/en-US/_ftl/advertisements/vending/vendbot.ftl
  Resources/Locale/en-US/_ftl/interaction/interaction-popup-component.ftl
  Resources/Prototypes/_FTL/Catalog/VendingMachines/Advertisements/vendbot.yml
  Resources/Prototypes/_FTL/Catalog/VendingMachines/Inventories/vendbot.yml
  Resources/Prototypes/_FTL/Entities/Mobs/NPCs/silicon.yml
  Resources/Textures/_FTL/Mobs/Silicon/Bots/vendbot.rsi/fill.png
  Resources/Textures/_FTL/Mobs/Silicon/Bots/vendbot.rsi/meta.json
  Resources/Textures/_FTL/Mobs/Silicon/Bots/vendbot.rsi/vendbot.png
Labels: sprites, no C#, ctv pr

#302 Make windows connect with walls
  Resources/Prototypes/Entities/Structures/Windows/window.yml
Labels: no C#, ctv pr

#303 Warp drive is now the spin drive
  Resources/Prototypes/_FTL/Entities/Structures/Machines/warp-drive.yml
Labels: no C#, ctv pr

#304 Make windows transparent and not pathetic
  Resources/Prototypes/Entities/Structures/Windows/reinforced.yml
  Resources/Prototypes/Entities/Structures/Windows/rplasma.yml
  Resources/Textures/_FTL/Structures/Windows/plasma_window.rsi/full.png
  Resources/Textures/_FTL/Structures/Windows/plasma_window.rsi/pwindow0.png
  Resources/Textures/_FTL/Structures/Windows/plasma_window.rsi/pwindow1.png
  Resources/Textures/_FTL/Structures/Windows/plasma_window.rsi/pwindow2.png
  Resources/Textures/_FTL/Structures/Windows/plasma_window.rsi/pwindow3.png
  Resources/Textures/_FTL/Structures/Windows/plasma_window.rsi/pwindow4.png
  Resources/Textures/_FTL/Structures/Windows/plasma_window.rsi/pwindow5.png
  Resources/Textures/_FTL/Structures/Windows/plasma_window.rsi/pwindow6.png
  Resources/Textures/_FTL/Structures/Windows/plasma_window.rsi/pwindow7.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_plasma_window.rsi/full.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_plasma_window.rsi/rpwindow0.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_plasma_window.rsi/rpwindow1.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_plasma_window.rsi/rpwindow2.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_plasma_window.rsi/rpwindow3.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_plasma_window.rsi/rpwindow4.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_plasma_window.rsi/rpwindow5.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_plasma_window.rsi/rpwindow6.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_plasma_window.rsi/rpwindow7.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_window.rsi/full.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_window.rsi/rwindow0.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_window.rsi/rwindow1.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_window.rsi/rwindow2.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_window.rsi/rwindow3.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_window.rsi/rwindow4.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_window.rsi/rwindow5.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_window.rsi/rwindow6.png
  Resources/Textures/_FTL/Structures/Windows/reinforced_window.rsi/rwindow7.png
  Resources/Textures/_FTL/Structures/Windows/window.rsi/full.png
  Resources/Textures/_FTL/Structures/Windows/window.rsi/window0.png
  Resources/Textures/_FTL/Structures/Windows/window.rsi/window1.png
  Resources/Textures/_FTL/Structures/Windows/window.rsi/window2.png
  Resources/Textures/_FTL/Structures/Windows/window.rsi/window3.png
  Resources/Textures/_FTL/Structures/Windows/window.rsi/window4.png
  Resources/Textures/_FTL/Structures/Windows/window.rsi/window5.png
  Resources/Textures/_FTL/Structures/Windows/window.rsi/window6.png
  Resources/Textures/_FTL/Structures/Windows/window.rsi/window7.png
Labels: sprites, no C#, ctv pr

#305 Species->Genetic Variant Locale Change
  Resources/Locale/en-US/preferences/ui/humanoid-profile-editor.ftl
Labels: no C#

#306 Fixed softlock due to stars being too far(#306)
  Content.Server/_FTL/FTLPoints/Systems/FtlPointsSystem.cs
Labels: ctv pr
